// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    cacheDir = 'singularity'
    autoMounts = true
}

// Enable trace by default
trace.enabled = true

// Process configuration
process {
    // Container ID in Docker Hub
    container = 'dgarrimar/manta-sim0@sha256:dbc524534af6793b3ceebc155617fe4867b35842425bd6ccc1a5964f20888963'
}

