// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    cacheDir = 'singularity'
    autoMounts = true
}

// Enable trace by default
trace.enabled = true

// Process configuration
process{
    // Container ID in Docker Hub
    container = 'dgarrimar/manta-sim3@sha256:f88f7e09c5d293e72ed401e127f1fde632717a0b00dc6ead0decc688fd1829b2'
}
