profiles {

    local {
        executor{
            name = 'local'
        }
    }

    cluster {        
        executor{
            name = 'crg'
            queueSize = 300
        }
    }

    bsc {
        executor{
            name = 'ignite'
            queueSize = 1000
        }
    }
}

process{
    container = 'dgarrimar/simreal@sha256:6cbc78df19794d8f987365457f678158d1b57378dfea9116d5da601387c60f37'
}

docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

singularity {
    cacheDir = 'singularity'
    autoMounts = true
}
